@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Debug*/
/** {*/
  /*border: 1px solid lightblue;*/
/*}*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  font-family: Roboto, sans-serif, -apple-system, Oxygen;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

a {
  margin: 10px;
  font-family: Roboto, sans-serif, -apple-system, Oxygen;
  text-decoration: none;
}

p {
  font-size: 48px;
  font-family: Roboto, sans-serif, -apple-system, Oxygen;
  flex: auto;
}

.dark {
  color: white;
  background-color: #1F2937;
}

.dark .secondary {
  color: #E5E7EB;
  font-size: 18px;
}

.header {
  height: 50px;
  align-items: center;
  padding: 10px;
  margin: 0;

  display: flex;
    
  /*justify-content: center;*/
}

.left-header {
  margin-left: auto;
  padding: 25px;
}

.hero {
  display: flex;
  height: 500px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 500px;
  height: auto;
  box-shadow: 5px 5px 3px #02181e;
}

.title {
  font-size: 48px;
  font-weight: bolder;
  font-family: Roboto, sans-serif, -apple-system, Oxygen, 'Open Sans', 'Helvetica Neue';
}

.hero-content {
  width: 400px;
  align-self: center;
}


